 @import url('https://fonts.googleapis.com/css2?family=Cairo&family=Cormorant+Garamond:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Cairo&family=Cormorant+Garamond:wght@300&family=EB+Garamond:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://getwallpapers.com/wallpaper/full/5/e/f/1333694-widescreen-classic-arcade-wallpaper-1920x1200-for-iphone-5s.jpg");
  background-size: 100%;
  background-attachment: fixed;

}

#text{
  font-family: 'Cormorant Garamond', serif;
  color: white !important;
}

/*/*#Nav-BG{*/
/*  background-image: linear-gradient(#866E08, #6B7C21) !important;*/
/*  background-color: #4C4637 !important;*/

#Nav-BG{
/*  background-image: linear-gradient(to right bottom, #000000, #050505, #0b0b0b, #0f0f0f, #131313);*/
}

#collasible-nav-dropdown{
  color: white;
}

#reg-BG{
/*  background-image: linear-gradient(#A35709, #B1886A) !important;*/
/*background-image: linear-gradient(to right bottom, #541212, #481313, #3b1313, #2e1312, #221211, #1e1010, #190e0f, #130c0d, #160b0d, #180a0c, #1b080c, #1d070b);*/
background-image: linear-gradient(to right bottom, #000000, #131313, #1f1f1f, #2b2b2b, #373737, #3d3d3d, #424444, #494a49, #494a4a, #4a4b4b, #4a4b4b, #4b4b4b);
}

#image-car img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

#car-colr h2 {
  font-family: 'EB Garamond', serif;
}

#car-colr p{
  font-family: 'EB Garamond', serif;
}


.carousel-caption {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  color: #F3EED9 !important;
  padding: 10px;
}

/*#car-colr {
  background-color: linear-gradient(rgba(15, 14, 14, 0.8), rgba(84, 18, 18, 0.8)) !important;
}*/

.colr-bg{
  background-image: linear-gradient(to right bottom, #000000, #131313, #1f1f1f, #2b2b2b, #373737, #3d3d3d, #424444, #494a49, #494a4a, #4a4b4b, #4a4b4b, #4b4b4b);
  font-family: 'EB Garamond', serif;
  color: white;
}

.banner-bg {
    font-family: 'EB Garamond', serif;
}

#landing {
  background:

    linear-gradient(

      rgba(0, 0, 0, 0.4),
      rgba(73, 73, 73, 0.2)

    ),
    url("./images/pixelnight.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  ;
}

#landing-text{
  background-color: rgba(0, 0, 0, 0);
  font-family: 'EB Garamond', serif;
  color: white;
  padding: 10px;
}

.cardHighlight{
  min-height: 100%;
  background-image: linear-gradient(to right bottom, #000000, #050505, #0b0b0b, #0f0f0f, #131313);  font-family: 'EB Garamond', serif;
  color: white;
}

.card-height{
  min-height: 100%;
  background-image: linear-gradient(to right bottom, #000000, #050505, #0b0b0b, #0f0f0f, #131313);  font-family: 'EB Garamond', serif;
  color: white;
}

#BP-IMG{
 height: 200px;
 object-fit: cover;
}

.car-ht {
  max-height: 75vh;
  object-fit: cover;
}